<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConString" connectionString="server=localhost; database=medical_schedule; uid=root; password=;" />
    <add name="WindowsApplication3.Properties.Settings.schinventoryConnectionString"
      connectionString="Dsn=sherif;server=localhost;uid=root;database=medical_schedule;port=3306"
      providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>